Problem Statement - Food Nutrition

Intro to Python

In [41]:
#Import all the necessary modules
#Import all the necessary modules
import pandas as pd
import numpy as np
import os

# Set the working directory

In [4]:
os.chdir('C:\\Users\\jayveer\\Desktop\\DataCamp_exercises\\GL_Mentoring\\Python')

# Import Excel file

Load the Data file into Python DataFrame using pandas read_excel method

The csv that we are going to load contains the unicode format data. We will use an additional encoding parameter which will allow pandas to load the csv.

In [42]:
data_df = pd.read_excel("Food Nutrition.xlsx")

# View Top 10 rows

head function is used to view the top records. The number records to be view need to be  given in the parenthesis.

In [43]:
data_df.head(10)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg)
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24,0.02,2,24,24,643,0.09,0.000,0.000,1.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,23,0.05,1,24,41,583,0.05,0.010,0.001,0.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,4,0.00,0,3,5,2,0.01,0.001,0.000,0.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,NaN,2.34,0.0,0.50,528,0.31,23,387,256,1146,2.66,0.040,0.009,14.5
4,1005,"CHEESE,BRICK",41.11,371,23.24,NaN,3.18,2.79,0.0,0.51,674,0.43,24,451,136,560,2.60,0.024,0.012,14.5
5,1006,"CHEESE,BRIE",48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,184,0.50,20,188,152,629,2.38,0.019,0.034,14.5
6,1007,"CHEESE,CAMEMBERT",51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,388,0.33,20,347,187,842,2.38,0.021,0.038,14.5
7,1008,"CHEESE,CARAWAY",39.28,376,25.18,29.20,3.28,3.06,0.0,0.00,673,0.64,22,490,93,690,2.94,0.024,0.021,14.5
8,1009,"CHEESE,CHEDDAR",37.02,404,22.87,33.31,3.71,3.09,0.0,0.48,710,0.14,27,455,76,653,3.64,0.030,0.027,28.5
9,1010,"CHEESE,CHESHIRE",37.65,387,23.37,30.60,3.60,4.78,0.0,0.00,643,0.21,21,464,95,700,2.79,0.042,0.012,14.5

# View Last 20 records

tail function is used to view the last records. The number records to be view need to be given in the parenthesis.

In [44]:
data_df.tail(20)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg)
580,3934,"BABYFOOD,CORN & SWT POTATOES,STR",82.62,68,1.26,0.28,0.61,15.23,1.8,4.00,18,0.31,10,29,154,14,0.19,0.051,0.000,1.1
581,3935,"INF FORM, ABBO NUTR, SIMIL, ALIMENT, ADVAN, RT...",87.32,67,1.80,3.63,0.48,6.77,0.0,4.40,69,1.18,5,49,77,29,0.49,0.049,0.006,1.2
582,3936,"INF FORMULA,PBM PRODUC,STO BRA,RTF (FORMERLY W...",88.10,63,1.40,3.50,0.61,6.39,0.0,6.40,41,1.18,5,28,55,14,0.53,0.046,0.677,1.4
583,3937,"INF FORM,PBM PROD,STORE BRAND,LC,NOT REC (FORM...",76.00,130,2.90,7.00,0.61,13.90,0.0,13.90,83,2.36,9,55,109,29,1.06,0.092,0.677,2.6
584,3938,"INF FORMULA,PBM PRODUCTS,STORE BRAND,PDR",2.00,524,12.00,28.00,2.00,56.00,0.0,56.00,331,9.50,36,221,441,118,3.90,0.370,0.677,11.0
585,3939,"INF FORMULA,PBM PRODUCTS,STORE BRAND,SOY,RTF",88.00,63,1.80,3.50,0.61,6.09,0.0,6.10,59,1.18,7,41,69,18,0.53,0.046,0.677,1.4
586,3940,"INF FORMU,PBM PRODU,STORE BR,SOY,LIQ CONC,NOT ...",76.00,126,3.60,7.00,1.22,12.18,0.0,12.18,118,2.36,14,82,138,36,1.06,0.092,0.677,3.6
587,3941,"INF FORMULA,PBM PRODUCTS,STORE BRAND,SOY,PDR",2.00,508,13.60,27.20,5.00,52.20,0.0,52.20,453,9.10,51,317,528,151,3.80,0.355,0.677,11.0
588,3942,"INF FORMULA, MEAD JOHNS, ENFAMI, AR LIPIL, RTF...",87.00,68,1.71,3.49,0.33,7.53,0.0,6.44,53,1.23,5,36,74,27,0.68,0.051,0.677,1.9
589,3943,"INF FORMULA, MEA JOHNSO, ENFAMI, AR LIPIL, PDR...",3.00,509,12.73,25.97,2.46,56.03,0.0,56.03,397,9.16,41,269,550,204,5.09,0.382,0.677,14.3
590,3944,"INF FORM,ABBOT NUT,SIMIL NEOSU,RTF,W/ ARA & DHA",87.00,69,1.92,3.77,0.38,6.94,0.0,6.90,72,1.23,6,42,97,23,0.82,0.082,0.006,1.6
591,3945,"INF FORMULA, ABBOTT, SIMILAC, NEOSURE, PDR, W/...",2.25,520,14.42,28.33,3.26,51.75,0.0,52.02,541,9.26,46,319,731,170,6.18,0.618,51.499,11.8
592,3946,"INF FORMULA, ABB NUTR, SIMI,SENS (LACT FRE) RT...",87.00,68,1.48,3.74,0.75,7.40,0.0,7.40,58,1.24,3,39,74,21,0.52,0.060,0.003,1.2
593,3947,"INF FORMULA, ABB NUT,SIMIL,SENS,(LACT FR),LIQ ...",75.88,128,2.73,6.95,0.80,13.64,0.0,13.78,108,2.32,8,72,138,39,0.97,0.062,0.006,2.9
594,3948,"INF FORMULA, ABB NUTR,SIMIL,SENS,(LACTO FR), P...",2.20,520,11.13,28.14,3.00,55.67,0.0,55.67,436,9.33,30,293,557,158,3.91,0.451,0.023,9.0
595,3949,"INF FORMULA, ABBOTT NUTR, SIMILAC, ADVANCE, W/...",87.79,66,1.36,3.70,0.38,6.77,0.0,6.90,53,1.18,4,28,69,16,0.49,0.059,0.003,1.2
596,3950,"INF FORMULA,ABBOTT NUTR,SIMILAC,ADVANC,W/ IRON...",2.25,522,10.89,28.87,3.26,54.73,0.0,54.73,410,9.47,32,221,552,126,3.94,0.473,0.026,11.6
597,3951,"INF FORMU,ABBO NUTR,SIMILAC,ADVAN,W/ IRON,LIQ ...",76.16,127,2.64,6.89,0.79,13.52,0.0,13.52,99,2.30,8,54,134,31,0.96,0.115,0.006,2.8
598,3952,"INF FORMULA, ABB NUTR, SIMIL, ISOMIL, ADVA W/ ...",75.81,128,3.13,6.98,0.88,13.21,0.0,13.10,134,2.30,10,96,138,56,0.96,0.096,0.032,2.7
599,3953,"INF FORMULA, ABBO NUTR,SIMIL,ISOMIL, ADVANCE W...",87.54,66,1.61,3.59,0.66,6.70,0.0,6.70,69,1.18,5,49,71,29,0.49,0.049,0.016,1.4

# Check for missing values

In [45]:
data_df.isnull().sum()

NDB_No             0
Shrt_Desc          0
Water_(g)          0
Energ_Kcal         0
Protein_(g)        0
Lipid_Tot_(g)      1
Ash_(g)            1
Carbohydrt_(g)     0
Fiber_TD_(g)       0
Sugar_Tot_(g)      0
Calcium_(mg)       0
Iron_(mg)          0
Magnesium_(mg)     0
Phosphorus_(mg)    0
Potassium_(mg)     0
Sodium_(mg)        0
Zinc_(mg)          0
Copper_mg)         0
Manganese_(mg)     0
Selenium_(Âµg)      0
dtype: int64

There are two missing values in the data set one for each variable lipid_Tot_(g) and Ash_(g). We need to drop these missing values before proceeding. We will use the dropna method to drop the missing values.

In [46]:
data_df=data_df.dropna()

In [47]:
data_df.isnull().sum()

NDB_No             0
Shrt_Desc          0
Water_(g)          0
Energ_Kcal         0
Protein_(g)        0
Lipid_Tot_(g)      0
Ash_(g)            0
Carbohydrt_(g)     0
Fiber_TD_(g)       0
Sugar_Tot_(g)      0
Calcium_(mg)       0
Iron_(mg)          0
Magnesium_(mg)     0
Phosphorus_(mg)    0
Potassium_(mg)     0
Sodium_(mg)        0
Zinc_(mg)          0
Copper_mg)         0
Manganese_(mg)     0
Selenium_(Âµg)      0
dtype: int64

We can now see that there are no missing values in our data set.

# Summary of the data

To see the summary of any dataframe we will use describe function.

In [9]:
data_df.describe()

,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg)
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,2301.111667,60.353683,187.106667,8.685983,8.917517,2.547383,19.339817,2.578833,9.094000,263.145000,4.358283,41.700000,189.378333,310.965000,349.953333,1.536133,0.150983,1.010900,12.433167
std,1082.604616,31.894651,158.599869,10.950042,12.298067,6.484531,21.508136,7.583582,13.912935,376.848952,12.144526,81.331224,226.980260,495.776405,1827.942452,1.968472,0.279257,4.213603,21.797543
min,1001.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1171.750000,39.242500,63.000000,1.707500,0.712500,0.490000,5.520000,0.000000,0.557500,23.750000,0.187500,8.000000,35.000000,95.000000,21.750000,0.300000,0.026000,0.020000,1.800000
50%,2051.500000,76.160000,106.500000,3.915000,3.495000,0.895000,10.800000,0.000000,4.785000,102.500000,0.415000,13.000000,101.000000,141.000000,50.000000,0.675000,0.050000,0.140000,3.700000
75%,3190.250000,85.962500,315.750000,12.500000,13.050000,3.260000,19.082500,1.200000,10.677500,353.000000,1.892500,33.000000,269.250000,255.000000,171.000000,2.372500,0.110000,0.677000,14.500000
max,3953.000000,99.900000,876.000000,84.080000,99.480000,99.800000,86.680000,53.200000,74.460000,2240.000000,123.600000,711.000000,1349.000000,4740.000000,38758.000000,17.460000,2.467000,60.127000,208.100000

# Create a vector âtestâ using the top 10 values of variable Protein_(g)

we will pass the variable name inside the square brackets of data_df and then use head function to retrieve the top 10 records.

In [12]:
test=data_df['Protein_(g)'].head(10)
test

0     0.85
1     0.49
2     0.28
3    21.40
4    23.24
5    20.75
6    19.80
7    25.18
8    22.87
9    23.37
Name: Protein_(g), dtype: float64

# Select the top 5 rows of initial 5 variables in a matrix format

To fetch the top 5 rows and initial variables we will use iloc and will pass the index both for rows and columns.

In [19]:
data_df.iloc[0:5, 0:5]

   NDB_No               Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)
0    1001        BUTTER,WITH SALT      15.87         717         0.85
1    1002  BUTTER,WHIPPED,W/ SALT      16.72         718         0.49
2    1003    BUTTER OIL,ANHYDROUS       0.24         876         0.28
3    1004             CHEESE,BLUE      42.41         353        21.40
4    1005            CHEESE,BRICK      41.11         371        23.24

# What is the class of the Sodium_(mg) variable

To check the class of any variable we will use dtype property.

In [22]:
data_df['Sodium_(mg)'].dtype

dtype('int64')

# Create a new variable âEPWâ by dividing Energ_Kcal with the Water; what is the dimension of the new dataset?

In [23]:
data_df['EPW']=data_df['Energ_Kcal']/data_df['Water_(g)']

In [24]:
#dimension will be checked using the shape
data_df.shape

(600, 21)

In [25]:
data_df.head(5)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg),EPW
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.02,2,24,24,643,0.09,0.000,0.000,1.0,45.179584
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.05,1,24,41,583,0.05,0.010,0.001,0.0,42.942584
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.00,0,3,5,2,0.01,0.001,0.000,0.0,3650.000000
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.31,23,387,256,1146,2.66,0.040,0.009,14.5,8.323509
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.43,24,451,136,560,2.60,0.024,0.012,14.5,9.024568

# Create a subset of the dataset, where the Energ_Kcal is less than 500, what is the dimension of this new dataset?

We will create a new data frame by using the subset conditions from the original data_df and will use shape property for checking the dimension.

In [26]:
data_df_new=data_df[data_df['Energ_Kcal']<500]

In [27]:
data_df_new.shape

(564, 21)

# Find the top 10 products based on following

1. Higher the Energy_Kcal, higher the ranking

Here we will use sorting to find out based on higher energy values.We will use sort_values method to order the data. Since we are saying higher trhe value the rank needs to be higher we will sort the data in the descending order so that the top most value gets the higher rank.

In [31]:
data_df.sort_values(by='Energ_Kcal',ascending = False).head(10)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg),EPW
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.00,0,3,5,2,0.01,0.001,0.000,0.0,3650.000000
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.05,1,24,41,583,0.05,0.010,0.001,0.0,42.942584
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.02,2,24,24,643,0.09,0.000,0.000,1.0,45.179584
131,1145,"BUTTER,WITHOUT SALT",17.94,717,0.85,81.11,0.09,0.06,0.0,0.06,...,0.02,2,24,24,11,0.09,0.016,0.004,1.0,39.966555
125,1137,"EGG,YOLK,DRIED",3.08,669,33.63,59.13,3.51,0.66,0.0,0.23,...,9.56,26,1040,264,149,7.73,0.000,0.185,139.3,217.207792
122,1134,"EGG,WHL,DRIED,STABILIZED,GLUCOSE RED",1.87,615,48.17,43.95,3.63,2.38,0.0,0.00,...,8.28,49,715,515,548,5.71,0.270,0.150,121.1,328.877005
121,1133,"EGG,WHL,DRIED",2.78,592,48.05,43.90,4.13,1.13,0.0,0.56,...,7.20,34,629,540,476,3.15,0.203,0.058,164.7,212.949640
63,1070,"DESSERT TOPPING,POWDERED",1.47,577,4.90,39.92,1.17,52.54,0.0,52.54,...,0.03,7,74,166,122,0.08,0.118,0.225,0.6,392.517007
178,1210,"EGG MIX,USDA CMDTY",2.78,555,35.60,34.50,3.15,23.97,0.0,2.46,...,3.23,11,451,373,576,2.76,0.149,0.056,118.0,199.640288
62,1069,"CREAM SUBSTITUTE,POWDERED",2.98,529,2.48,32.92,2.34,59.29,0.0,7.77,...,0.26,1,288,669,124,0.07,0.018,0.011,0.0,177.516779

2. Lower the water content, higher the ranking

Since we are saying lower trhe value the rank needs to be higher we will sort the data in the ascending order so that the lower most value gets the higher rank.

In [32]:
data_df.sort_values(by='Water_(g)',ascending = True).head(10)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg),EPW
295,2047,"SALT,TABLE",0.20,0,0.00,0.00,99.80,0.00,0.0,0.00,...,0.33,1,0,8,38758,0.10,0.030,0.100,0.1,0.000000
311,2074,"SEASONING MIX,DRY,SAZON,CORIANDER & ANNATTO",0.20,0,0.00,0.00,99.80,0.00,0.0,0.00,...,0.00,100,150,89,17000,0.88,0.008,0.677,43.4,0.000000
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.00,0,3,5,2,0.01,0.001,0.000,0.0,3650.000000
63,1070,"DESSERT TOPPING,POWDERED",1.47,577,4.90,39.92,1.17,52.54,0.0,52.54,...,0.03,7,74,166,122,0.08,0.118,0.225,0.6,392.517007
175,1206,"CREAM SUB,FLAV,PDR",1.52,482,0.68,21.47,0.79,75.42,1.2,58.01,...,0.63,17,28,90,123,0.23,0.135,0.140,1.3,317.105263
443,3184,"BABYFOOD,CRL,WHL WHEAT,W/ APPLS,DRY FORT",1.70,402,6.60,4.80,3.70,83.20,6.7,26.66,...,45.00,140,200,500,66,2.60,0.620,2.520,64.7,236.470588
122,1134,"EGG,WHL,DRIED,STABILIZED,GLUCOSE RED",1.87,615,48.17,43.95,3.63,2.38,0.0,0.00,...,8.28,49,715,515,548,5.71,0.270,0.150,121.1,328.877005
587,3941,"INF FORMULA,PBM PRODUCTS,STORE BRAND,SOY,PDR",2.00,508,13.60,27.20,5.00,52.20,0.0,52.20,...,9.10,51,317,528,151,3.80,0.355,0.677,11.0,254.000000
461,3209,"BABYFOOD,CRACKERS,VEG",2.00,477,8.40,19.60,3.15,66.85,4.0,13.00,...,4.20,37,198,245,571,0.90,0.130,0.770,13.7,238.500000
535,3821,"INF FORMULA. MEAD JOHNSON, PREGESTIMIL, W/IRON...",2.00,519,14.00,28.00,3.20,52.80,0.0,51.00,...,9.40,55,380,550,240,5.00,0.380,0.677,14.0,259.500000

# Create a subset of the data where product_desc contains âCHEESEâ and list down the summary statistics of the subset

To find a specific value we will use the contains method. We will pass the string in the paranthesis which needs to be located in the dataframe variable.

In [33]:
data_df_cheese= data_df[data_df['Shrt_Desc'].str.contains("CHEESE")]

In [34]:
data_df_cheese.shape

(76, 21)

In [35]:
data_df_cheese.describe()

,NDB_No,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg),EPW
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,1099.776316,47.857105,304.500000,20.992105,22.441316,4.103947,4.641447,0.005263,2.009868,631.631579,0.432105,27.144737,471.236842,158.276316,842.381579,2.610132,0.068013,0.079553,15.677632,7.566845
std,95.682753,14.027761,97.700563,6.343074,9.890700,1.714973,5.724261,0.027784,3.222922,292.477411,0.365109,14.777193,186.903531,167.626617,446.479084,1.079775,0.136817,0.179064,6.242256,4.810811
min,1004.000000,13.440000,72.000000,6.150000,0.000000,1.020000,0.000000,0.000000,0.000000,53.000000,0.000000,5.000000,107.000000,26.000000,21.000000,0.330000,0.008000,0.002000,2.800000,0.872939
25%,1022.750000,39.355000,264.000000,17.415000,19.640000,3.247500,2.030000,0.000000,0.347500,497.000000,0.180000,20.750000,382.500000,86.000000,600.000000,2.040000,0.025000,0.011000,14.500000,5.122584
50%,1041.500000,44.145000,330.500000,21.760000,25.630000,3.790000,3.155000,0.000000,0.850000,673.500000,0.370000,27.000000,463.500000,125.000000,707.500000,2.775000,0.031500,0.021500,14.500000,7.500000
75%,1173.250000,52.005000,371.500000,24.487500,29.720000,5.185000,5.225000,0.000000,2.335000,757.250000,0.567500,29.250000,576.250000,159.000000,1134.750000,3.500000,0.036000,0.038250,16.775000,9.417150
max,1271.000000,82.480000,466.000000,37.860000,35.590000,8.030000,42.650000,0.200000,23.670000,1375.000000,1.900000,115.000000,931.000000,1409.000000,1809.000000,4.440000,0.732000,0.677000,35.800000,34.672619

# Using the cut function on water variable divide the whole data into 6 bins, list down the summary statistics of all the 6 bins.

In [36]:
data_bins=data_df

In [38]:
data_bins['bins']=pd.cut(data_bins['Water_(g)'],6, labels =["A", "B", "C","E","F","G"])

In [39]:
data_bins.head(5)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Magnesium_(mg),Phosphorus_(mg),Potassium_(mg),Sodium_(mg),Zinc_(mg),Copper_mg),Manganese_(mg),Selenium_(Âµg),EPW,bins
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2,24,24,643,0.09,0.000,0.000,1.0,45.179584,A
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,1,24,41,583,0.05,0.010,0.001,0.0,42.942584,A
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0,3,5,2,0.01,0.001,0.000,0.0,3650.000000,A
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,23,387,256,1146,2.66,0.040,0.009,14.5,8.323509,C
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,24,451,136,560,2.60,0.024,0.012,14.5,9.024568,C